<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SerialMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SerialMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SerialMonitor.Properties.Settings>
      <setting name="BaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="AutoScroll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTimestamps" serializeAs="String">
        <value>False</value>
      </setting>
    </SerialMonitor.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="LoggingEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN10-SERVER;initial catalog=Logging;user id=BackupUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <SerialMonitor.Properties.Settings>
      <setting name="DefaultBaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
    </SerialMonitor.Properties.Settings>
  </applicationSettings>
</configuration>